*{
    margin: 0px;
    padding: 0px;
}
body {
    text-align: center;
    font-family: Arial, sans-serif;
    background: url("photos/symbol-scatter-haikei\ \(1\).svg") ;

}
#calculator {
    background: url("photos/symbol-scatter-haikei.svg") no-repeat center;
    height: 330px;
    width: 350px;
    margin: 100px auto;
    padding: 40px 40px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #f3f3f3;
}
input {
    width: 100%;
    height: 40px;
    text-align: right;
    font-size: 20px;
    margin-bottom: 10px;
}
table {
    width: 100%;
}
td {
    width: 25%;
    height: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid black;
    background-color: #e0e0e0;
}
td:active {
    background-color: #ccc;
}


/* for scientific calculator */
#sci-cal{
    display: none;
}